<div class="container-fluid bg-info bg-opacity-75 p-3">
  <div class="row">
    <div class="col-4 ">
      <div class="d-flex align-content-center justify-content-between">
        <h3 style="font-family: 'Bookshelf Symbol 7'; margin-left: 10%">Module 5</h3>

      </div>
    </div>
    <div class="col-5">
      <div class="d-flex align-content-center justify-content-center ">
        <h2 style="font-family: Georgia; font-weight: bold">FINAL TEST</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex align-content-center justify-content-center mt-1">
        <h4 style="font-family: 'Bookshelf Symbol 7'; margin-left: 10%" >Đặng Văn Thuận</h4>
      </div>
    </div>
  </div>
</div>
