<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <span>&nbsp;</span>
    </div>
    <div class="col-12 mt-5" style="margin-left: 3%">
      <h1>Do you want delete product {{nameProduct}}</h1>
    </div>
    <div class="col-12 mt-5">
      <span>&nbsp;</span>
    </div>
    <div class="row d-flex justify-content-center align-content-center" >
     <div class="col-2">
       <button class="btn btn-primary" (click)="close()">Cancel</button>
     </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
