<h3>Create Student</h3>
<form #studentForm="ngForm" (ngSubmit)="createStudent(studentForm)">
  <div class="form-group">
    <label>ID</label>
    <input class="form-control"
           ngModel
           name="id">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input class="form-control"
           ngModel
           name="name">
  </div>
  <div class="form-group">
    <label>Age</label>
    <input class="form-control"
           ngModel
           name="age">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input class="form-control"
           ngModel
           name="address">
  </div>
  <div class="form-group">
    <label>Avatar</label>
    <input class="form-control"
           ngModel
           name="img">
  </div>
  <div class="form-group">
    <label>Mark</label>
    <input class="form-control"
           ngModel
           name="mark">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
